section h2 {
  color: var(--mat-sys-primary);
  margin: 0 0 8px 0;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  transition: background-color 0.3s ease;
  &:focus {
    outline: 2px solid var(--mat-sys-primary);
    outline-offset: 2px;
  }
}

section p {
  margin: 0 0 0 10px;
}